* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    --cor-primaria: #1B4D3E;
    --cor-secundária: #7ED957;
    --cor-terciária: #F8FAFC;
}

a {
    text-decoration: none;
    font-style: none;
    color: white;
}

.padding {
    padding: 12px 36px;
}

.destaque {
    color: var(--cor-secundária);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    color: white;
}

nav ul li {
    border-radius: 36px;
    font-weight: 600;
    font-size: 14px;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 24px;
    cursor: pointer;
}

.nav-cadastro {
    background-color: white;
    color: var(--cor-primaria);
}

.nav-entrar {
    border: solid 1px white;
}

main {
    background-image: url(../assets/images/female-shepherd-flock-sheep-lawn.jpg);
    background-size: cover;
    height: 600px;
    color: white;
    position: relative;
}

.main-parceiras {   
    display: flex;
    flex-grow: 0;
    font-weight: 700;
    font-size: 12px;
    border: solid 2px var(--cor-secundária);
    border-radius: 50px;
    padding: 4px 8px;
}

.main-info {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 350px;
    margin: 0 auto;
}

.main-logo {
    width: 500px;
    max-width: 100%;
}

.main-icons {
    display: flex;
    gap: 1rem;
}

.main-icons img {
    border: solid 2px var(--cor-secundária);
    border-radius: 36px;
    padding: 10px;
    width: 40px;
}

.container-transicao {
    width: 100%;
    background: linear-gradient(to bottom, rgba(1, 1, 1, 0), var(--cor-primaria));
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.sobre-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-primaria);
    row-gap: 24px;
}

.sobre-logo {
    display: flex;
    justify-content: center;
    height: 300px;
}

.sobre-logo img {
    width: 240px;
}

.sobre-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
}

.sobre-info {
    display: flex;
    width: 50%;
}

.sobre-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.sobre-img img {
    width: 175px;
}

.sobre-numero {
    padding: 0px;
    font-size: 120px;
    margin-right: 12px;
    font-weight: 800;
    width: 25%;
    color: #FFFFFF6B;
}

.sobre-texto {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
}

.sobre-texto h4 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
}

.sobre-texto h2 {
    font-size: 42px;
    line-height: 36px;
}

.sobre-texto p {
    font-style: italic;
    font-size: 18px;
}

.sobre-links{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.sobre-links img {
    width: 88px;
}

.container-informacao {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .image{
    margin-top: 20%;
    background-color: #164636;
    width: 100%;
    height: 500px;
    border-radius: 45px;
    padding: 5px;
    position: relative;
    margin-bottom: 20px;
}



.card .image .background-image{
    border-radius: 45px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
}

.card .image .icon-image-1{
    width: 130px;
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
}

.card .image .text-1{
    font-size: 22px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 280px;
}

.card .image .icon-image-2{
    width: 115px;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    top: 50px;
}

.card .image .icon-image-5{
    width: 115px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.card .image .text-2{
    font-size: 22px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 350px;
}

.card .text-card{
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    color: var(--cor-primaria);
}

.card .text-card-color{
    color: var(--cor-secundária);
}