* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container::before,
.container::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, #2d6a4f 0%, #164f42 100%);
    z-index: 10;
    pointer-events: none;
}

/* Bola de cima */
.container::before {
    width: 450px;
    height: 450px;
    top: -250px;
    right: -200px;
}

/* Bola de baixo */
.container::after {
    width: 250px;
    height: 250px;
    bottom: -125px;
    right: -110px;
}

.lado-direito {
    background-color: #164f42;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.logo-direita {
    height: 10%;
    align-self: flex-start;
    justify-self: flex-start;
}

.lado-direito img {
    border-radius: 15px;
}

.logo-direita img {
    width: 200px;
    margin: 15px;
}

.container-imagem-destaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tag-desconto {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    margin-left: 200px;
    margin-top: 180px;
}

.tag-desconto p {
    color: #164636;
    font-weight: bold;
    font-size: 14px;
}

.tag-desconto span {
    font-size: 32px;
    font-weight: bold;
    color: #164636;
}

.img-texto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.img-texto img {
    width: 30px;
    height: 30px;
    margin: 0;
    position: static;
}

.imagem-fundo-destaque {
    width: 500px;
}

.texto-login {
    margin-top: 50px;
}

.texto-login a {
    text-decoration: none;
}

.texto-login p {
    color: white;

}

.lado-esquerdo {
    width: 50%;
    flex-direction: column;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

p {
    color: #164636;
    text-align: left;
    padding: 5px;
}

span {
    color: #7abf66;
}

#select_usuario {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
}

.formulario {
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 180px;
}

.formulario img {
    width: 200px;
}

.formulario h1 {
    color: #164636;
    font-weight: 800;
    font-size: 32px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
    align-self: flex-start;
}

.formulario input {
    width: 350px;
    height: 45px;
    padding: 0 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    color: #BEC3BF;
}

.campo label {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.campo input {
    width: 350px;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.campo select {
    width: 350px;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 6px;
}

.formulario button {
    background-color: #1B4D3E;
    color: white;
    font-weight: 600;
    font-size: 28px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
    width: 350px;
    height: 45px;
    border-radius: 20px;
    font-size: 28px;
    margin-top: 14px;
    border: none;
    cursor: pointer;
}

.formulario input:focus {
    border: 2px solid #275673;
}

.mensagem-senha {
    font-weight: 300;
    opacity: 0.9;
    font-size: 12px;
    margin-bottom: 6px;
    color: #164636;
}

.acerto {
    color: #7abf66;
}

.erro {
    color: red;
}

.login-campo {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: -5px;
}

.login-campo > div {
    display: flex;
    align-items: center;

    gap: 7px;
}

.login-campo label {
    color: #777;

    font-size: 11px;
}

.login-campo input {
    width: 13px;
    height: 13px;

    accent-color: #1B4D3E;

    cursor: pointer;
}

.login-campo p {
    color: #1B4D3E;

    font-size: 11px;

    cursor: pointer;
}